<!DOCTYPE html>
<html>
<head>
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta charset="utf-8">
	<title>Reason Root</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<link rel="manifest" href="./manifest.json">
</head>
<body>
<statement stmt='
{
	"id": "s1",
	"content": "Content for s1",
	"isProMain": true,
	"childIds": ["s2", "s3"]
}
' stmts=' {
	"s1": {
		"id": "s1",
		"isProMain": true,
		"childIds": ["s2", "s3"]
	},
	"s2": {
		"id": "s2",
		"content": "Content for s2",
		"isProMain": false,
		"childIds": ["s4"]
	},
	"s3": {
		"id": "s3",
		"content": "Content for s3",
		"isProMain": true
	},
	"s4": {
		"id": "s4",
		"content": "Content for s4",
		"isProMain": true
	}
}'> </statement>
<hr />
<statement stmt='{"id":"2s1", "childIds":["2s2","2s3"]}' stmts='{"2s1":{"id":"2s1", "childIds":["2s2","2s3"]}, "2s2":{"id":"2s2"}, "2s3":{"id":"2s3"}}'> </statement>
</body>
</html>
